rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /companies/{companyId}/{allPaths=**} {
      allow read, write: if true; // Enable access to circulars and evidence files for the demo
    }
  }
}
